extends layout

block content
    section.slider
        div.slider-slides
            div.slider-slide
                img.slider-slide-pic(src="img/slider1.jpg")
                div.content-wrp._slider
                    div.slider-slide-c
                        h1.slider-slide-c-t Strong performance in H1
                        p.slider-slide-c-tx Stable organic growth, strong margin improvement and cash generation. 2016 operational margin target upgraded
                        a.btn Read more
            div.slider-slide
                img.slider-slide-pic(src="img/slider2.jpg")
                div.content-wrp._slider
                    div.slider-slide-c

                        h1.slider-slide-c-t Cigre 2016
                        p.slider-slide-c-tx 21-26 August 2016: Paris, France
                        p.slider-slide-c-tx Empowering smart utilities. Visit us at booth #253 and learn more about our innovative solutions that improve reliability, safety, security, efficiency and sustainability at every level of the grid.
                        a.btn Learn more
            div.slider-slide
                img.slider-slide-pic(src="img/slider3.jpg")
                div.content-wrp._slider
                    div.slider-slide-c
                        h1.slider-slide-c-t Be the one who gets it.
                        p.slider-slide-c-tx Don’t miss out on the latest videos, top stories, and FREE resources. It’s all in our bi-weekly news bulletin.
                        a.btn Sign up now
            div.slider-slide
                img.slider-slide-pic(src="img/slider4.jpg")
                div.content-wrp._slider
                    div.slider-slide-c
                        h1.slider-slide-c-t IoT 2020 Business Report
                        p.slider-slide-c-tx Here are the top 5 predictions for the future of IoT with input from 2,500 business decision-makers around the world.
                        a.btn Find out what they have to say
        svg.slider-arrow-pic._left._hidden(version='1.0', xmlns='http://www.w3.org/2000/svg', width='48.000000pt', height='74.000000pt', viewbox='0 0 48.000000 74.000000', preserveaspectratio='xMidYMid meet')
            g(transform='translate(0.000000,74.000000) scale(0.100000,-0.100000)')
                path(d='M187 535 l-159 -165 159 -165 c87 -91 163 -165 169 -165 5 0 23 14\
                39 30 l29 30 -95 98 c-52 53 -110 114 -128 134 l-34 37 127 135 126 134 -26\
                31 c-14 17 -31 31 -37 30 -7 0 -83 -74 -170 -164z')
        svg.slider-arrow-pic._right(version='1.0', xmlns='http://www.w3.org/2000/svg', width='48.000000pt', height='74.000000pt', viewbox='0 0 48.000000 74.000000', preserveaspectratio='xMidYMid meet')
            g(transform='translate(0.000000,74.000000) scale(0.100000,-0.100000)')
                path(d='M187 535 l-159 -165 159 -165 c87 -91 163 -165 169 -165 5 0 23 14\
                39 30 l29 30 -95 98 c-52 53 -110 114 -128 134 l-34 37 127 135 126 134 -26\
                31 c-14 17 -31 31 -37 30 -7 0 -83 -74 -170 -164z')
        div.slider-paging
            div.slider-paging-item._active
            div.slider-paging-item
            div.slider-paging-item
            div.slider-paging-item
    article.content-wrp._content
        div.content
            section.articles
                div.articles-i
                    h3.articles-t Investors
                    figure.articles-pic
                        img.articles-img(src="img/articles1.jpg")
                        p.articles-pic-descr We operate in over 100 countries with around 160,000 employees worldwide.
                    a.btn.articles-btn Read more
                div.articles-i
                    h3.articles-t Press
                    figure.articles-pic
                        img.articles-img(src="img/articles2.jpg")
                        p.articles-pic-descr Latest news and press releases.
                    a.btn.articles-btn Read now
                div.articles-i
                    h3.articles-t Careers
                    figure.articles-pic
                        img.articles-img(src="img/articles3.jpg")
                        p.articles-pic-descr Discover opportunities that offer meaningful purpose and continual skills growth.
                    a.btn.articles-btn Join us
            div.sections-separator
            section.solutions
                header.section-header
                    a.section-viewMoreLink.linkArrow See all Solutions
                    h3.section-t Solutions
                section.gallery
                    div.gallery-row
                        a.gallery-i._2x
                            img.gallery-i-img(src="img/solutions1.jpg")
                            div.gallery-i-tx Oil and Gas
                        a.gallery-i._1x
                            img.gallery-i-img(src="img/solutions2.jpg")
                            div.gallery-i-tx Mining, Minerals and Metals
                        a.gallery-i._1x
                            img.gallery-i-img(src="img/solutions3.jpg")
                            div.gallery-i-tx Food and Beverage
                    div.gallery-row
                        a.gallery-i._1x
                            img.gallery-i-img(src="img/solutions4.jpg")
                            div.gallery-i-tx Water and Wastewater
                        a.gallery-i._2x
                            img.gallery-i-img(src="img/solutions5.jpg")
                            div.gallery-i-tx Cloud and Service Providers
                        a.gallery-i._1x
                            img.gallery-i-img(src="img/solutions6.jpg")
                            div.gallery-i-tx Healthcare
            div.sections-separator
            section.popular
                header.section-header
                    a.section-viewMoreLink.linkArrow See all products
                    h3.section-t Most viewed products
                section.productsSlider
                    div.productsSlider-wrp
                        ul.productsSlider-wrp-l
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider1.jpg")
                                        p.prodictsSlider-i-tx Controllers (PLC and PAC)
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider2.jpg")
                                        p.prodictsSlider-i-tx Motion and Drives
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider3.jpg")
                                        p.prodictsSlider-i-tx Contactors and Protection Relays
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider4.jpg")
                                        p.prodictsSlider-i-tx Automation and Control
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider5.jpg")
                                        p.prodictsSlider-i-tx Pushbuttons, Switches, Pilot Lights, Control Stations, Joy Stick….
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider6.jpg")
                                        p.prodictsSlider-i-tx Power Circuit Breakers and Switches
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider7.jpg")
                                        p.prodictsSlider-i-tx Building Management Systems
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider8.jpg")
                                        p.prodictsSlider-i-tx Boxes, Cabling and Interfaces
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider9.jpg")
                                        p.prodictsSlider-i-tx Software
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider10.jpg")
                                        p.prodictsSlider-i-tx Power and Energy Monitoring System
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider11.jpg")
                                        p.prodictsSlider-i-tx Power Connection and Distribution
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider12.jpg")
                                        p.prodictsSlider-i-tx Motor Starters
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider13.jpg")
                                        p.prodictsSlider-i-tx Panelboards and Switchboards
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider14.jpg")
                                        p.prodictsSlider-i-tx MV Switchgear
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider15.jpg")
                                        p.prodictsSlider-i-tx Human Machine Interface

                    svg.productsSlider-pic._left._hidden(version='1.0', xmlns='http://www.w3.org/2000/svg', width='48.000000pt', height='74.000000pt', viewbox='0 0 48.000000 74.000000', preserveaspectratio='xMidYMid meet')
                        g(transform='translate(0.000000,74.000000) scale(0.100000,-0.100000)')
                            path(d='M187 535 l-159 -165 159 -165 c87 -91 163 -165 169 -165 5 0 23 14\
                                    39 30 l29 30 -95 98 c-52 53 -110 114 -128 134 l-34 37 127 135 126 134 -26\
                                    31 c-14 17 -31 31 -37 30 -7 0 -83 -74 -170 -164z')
                    svg.productsSlider-pic._right(version='1.0', xmlns='http://www.w3.org/2000/svg', width='48.000000pt', height='74.000000pt', viewbox='0 0 48.000000 74.000000', preserveaspectratio='xMidYMid meet')
                        g(transform='translate(0.000000,74.000000) scale(0.100000,-0.100000)')
                            path(d='M187 535 l-159 -165 159 -165 c87 -91 163 -165 169 -165 5 0 23 14\
                                    39 30 l29 30 -95 98 c-52 53 -110 114 -128 134 l-34 37 127 135 126 134 -26\
                                    31 c-14 17 -31 31 -37 30 -7 0 -83 -74 -170 -164z')
        aside.sidebar
            div.sidebar-card
                img.sidebar-card-img(src="img/aside1.jpg")
                h3.sidebar-card-t Our Company
                p.sidebar-card-tx We create connected technologies that reshape industries, transform cities and enrich lives.
                a.sidebar-more.linkArrow Learn more
            div.sidebar-card
                h3.sidebar-card-t Sustainability
                p.sidebar-card-tx Sustainability is at the heart of our strategy.
                a.sidebar-more.linkArrow Find out more
            div.sidebar-card
                h3.sidebar-card-t Strategy & Sustainability Highlights
                p.sidebar-card-tx Discover how we're closing the energy gap and driving efficiency everywhere.
                a.sidebar-more.linkArrow Read the report

            div.sidebar-card
                h3.sidebar-card-t Innovation Summit Highlights
                p.sidebar-card-tx Schneider hosted top industry leaders in Paris to discuss the latest technologies, trends and innovations transforming the world of energy and automation.
                a.sidebar-more.linkArrow Watch the video highlights
            div.sidebar-card
                h3.sidebar-card-t Quick links
                ul.sidebar-card-l
                    li
                        a.sidebar-more.sidebar-quickLn.linkArrow Our worldwide presence
                    li
                        a.sidebar-more.sidebar-quickLn.linkArrow Share Price
                    li
                        a.sidebar-more.sidebar-quickLn.linkArrow Events
                    li
                        a.sidebar-more.sidebar-quickLn.linkArrow Blog
                    li
                        a.sidebar-more.sidebar-quickLn.linkArrow Customer Success Stories
                    li
                        a.sidebar-more.sidebar-quickLn.linkArrow Foundation
                    li
                        a.sidebar-more.sidebar-quickLn.linkArrow Innovation

    footer.footer
        div.content-wrp
            section.footer-email
                figure.footer-logo
                    img(src="img/footer-logo.png")
                div.email-signup
                    p.email-signup-tx SIGN UP FOR EMAIL - Learn about best practices, new solutions and offers
                    form.email-signup-form
                        input.email-signup-inp(placeholder="Email")
                        buttom.btn.email-signup-btn(type="submit") Ok
            section.footer-links
                .footer-links-wrp
                    ul.footer-links-l
                        li.footer-links-i.footer-links-t ABOUT US
                        li.footer-links-i
                            a.footer-links-ln Company Profile
                        li.footer-links-i
                            a.footer-links-ln Careers
                        li.footer-links-i
                            a.footer-links-ln Investors
                        li.footer-links-i
                            a.footer-links-ln Share price
                        li.footer-links-i
                            a.footer-links-ln Press
                        li.footer-links-i
                            a.footer-links-ln Sustainability
                        li.footer-links-i
                            a.footer-links-ln Diversity
                        li.footer-links-i
                            a.footer-links-ln Events
                    ul.footer-links-l
                        li.footer-links-i.footer-links-t SUPPORT
                        li.footer-links-i
                            a.footer-links-ln Customer Care
                        li.footer-links-i
                            a.footer-links-ln Documents and Downloads
                        li.footer-links-i
                            a.footer-links-ln FAQs
                        li.footer-links-i
                            a.footer-links-ln Green Premium Eco label
                        li.footer-links-i
                            a.footer-links-ln Training
                        li.footer-links-i
                            a.footer-links-ln Energy University
                    ul.footer-links-l
                        li.footer-links-i.footer-links-t CONTACT US
                        li.footer-links-i
                            a.footer-links-ln Worldwide
                        li.footer-links-i
                            a.footer-links-ln Sales
                        li.footer-links-i
                            a.footer-links-ln Job search
                        li.footer-links-i
                            a.footer-links-ln Investors
                        li.footer-links-i
                            a.footer-links-ln Shareholders
                        li.footer-links-i
                            a.footer-links-ln Press
                        li.footer-links-i
                            a.footer-links-ln Others contacts
                        li.footer-links-i
                            a.footer-links-ln Blog
                    ul.footer-links-l
                        li.footer-links-i.footer-links-t QUICK LINKS
                        li.footer-links-i
                            a.footer-links-ln For your home
                        li.footer-links-i
                            a.footer-links-ln For your business
                        li.footer-links-i
                            a.footer-links-ln Partners
                        li.footer-links-i
                            a.footer-links-ln Internet of Things
                        li.footer-links-i
                            a.footer-links-ln Life is On
                        li.footer-links-i
                            a.footer-links-ln Insights
                        li.footer-links-i
                            a.footer-links-ln Climate change
                        li.footer-links-i
                            a.footer-links-ln Innovation
            section.footer-social
                ul.footer-social-l
                    li.footer-social-i
                        a.footer-social-i-ln._tw
                    li.footer-social-i
                        a.footer-social-i-ln._fb
                    li.footer-social-i
                        a.footer-social-i-ln._in
                    li.footer-social-i
                        a.footer-social-i-ln._gplus
                    li.footer-social-i
                        a.footer-social-i-ln._yt
                    li.footer-social-i
                        a.footer-social-i-ln._setv
                    li.footer-social-i
                        a.footer-social-i-ln._seblog
                    li.footer-social-i
                        a.footer-social-i-ln._inst
        section.footer-end
            .content-wrp
                .footer-end-cpr
                    p.footer-end-cpr-tx Policy ©2016, Schneider Electric
                .footer-end-wrp
                    a.footer-end-ln Site Map
                    a.footer-end-ln Global - FR
                    a.footer-end-ln Legal Information
                    a.footer-end-ln Privacy and Cookie
