extends layout

block content
    section.slider
        div.slider-slides
            div.slider-slide
                img.slider-slide-pic(src="img/slider1.jpg")
                div.content-wrp._slider
                    div.slider-slide-c
                        h1.slider-slide-c-t Strong performance in H1
                        p.slider-slide-c-tx Stable organic growth, strong margin improvement and cash generation. 2016 operational margin target upgraded
                        a.btn Read more
            div.slider-slide
                img.slider-slide-pic(src="img/slider2.jpg")
            div.slider-slide
                img.slider-slide-pic(src="img/slider3.jpg")
            div.slider-slide
                img.slider-slide-pic(src="img/slider4.jpg")
        div.slider-paging
            div.slider-paging-item
            div.slider-paging-item
            div.slider-paging-item
            div.slider-paging-item
    article.content-wrp._content
        div.content
            section.articles
                div.articles-i
                    h3.articles-t Investors
                    figure.articles-pic
                        img.articles-img(src="img/articles1.jpg")
                        p.articles-pic-descr We operate in over 100 countries with around 160,000 employees worldwide.
                    a.btn.articles-btn Read more
                div.articles-i
                    h3.articles-t Press
                    figure.articles-pic
                        img.articles-img(src="img/articles2.jpg")
                        p.articles-pic-descr Latest news and press releases.
                    a.btn.articles-btn Read now
                div.articles-i
                    h3.articles-t Careers
                    figure.articles-pic
                        img.articles-img(src="img/articles3.jpg")
                        p.articles-pic-descr Discover opportunities that offer meaningful purpose and continual skills growth.
                    a.btn.articles-btn Join us
            div.sections-separator
            section.solutions
                header.section-header
                    h3.section-t Solutions
                    a.section-viewMoreLink See all Solutions
                section.gallery
                    div.gallery-row
                        a.gallery-i._2x
                            img.gallery-i-img(src="img/solutions1.jpg")
                            div.gallery-i-tx Oil and Gas
                        a.gallery-i._1x
                            img.gallery-i-img(src="img/solutions2.jpg")
                            div.gallery-i-tx Oil and Gas
                        a.gallery-i._1x
                            img.gallery-i-img(src="img/solutions3.jpg")
                            div.gallery-i-tx Oil and Gas
                    div.gallery-row
                        a.gallery-i._1x
                            img.gallery-i-img(src="img/solutions4.jpg")
                            div.gallery-i-tx Oil and Gas
                        a.gallery-i._2x
                            img.gallery-i-img(src="img/solutions5.jpg")
                            div.gallery-i-tx Oil and Gas
                        a.gallery-i._1x
                            img.gallery-i-img(src="img/solutions6.jpg")
                            div.gallery-i-tx Oil and Gas
            div.sections-separator
            section.popular
                header.section-header
                    h3.section-t Most viewed products
                    a.section-viewMoreLink See all products
                section.productsSlider
                    div.productsSlider-wrp
                        ul.productsSlider-wrp-l
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider1.jpg")
                                        p.prodictsSlider-i-tx Controllers (PLC and PAC)
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider2.jpg")
                                        p.prodictsSlider-i-tx Motion and Drives
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider3.jpg")
                                        p.prodictsSlider-i-tx Contactors and Protection Relays
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider4.jpg")
                                        p.prodictsSlider-i-tx Automation and Control
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider5.jpg")
                                        p.prodictsSlider-i-tx Pushbuttons, Switches, Pilot Lights, Control Stations, Joy Stick….
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider6.jpg")
                                        p.prodictsSlider-i-tx Power Circuit Breakers and Switches
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider7.jpg")
                                        p.prodictsSlider-i-tx Building Management Systems
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider8.jpg")
                                        p.prodictsSlider-i-tx Boxes, Cabling and Interfaces
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider9.jpg")
                                        p.prodictsSlider-i-tx Software
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider10.jpg")
                                        p.prodictsSlider-i-tx Power and Energy Monitoring System
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider11.jpg")
                                        p.prodictsSlider-i-tx Power Connection and Distribution
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider12.jpg")
                                        p.prodictsSlider-i-tx Motor Starters
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider13.jpg")
                                        p.prodictsSlider-i-tx Panelboards and Switchboards
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider14.jpg")
                                        p.prodictsSlider-i-tx MV Switchgear
                            li.prodictsSlider-i
                                a.prodictsSlider-i-ln
                                    figure
                                        img.prodictsSlider-i-pic(src="img/product-slider15.jpg")
                                        p.prodictsSlider-i-tx Human Machine Interface

        aside.sidebar
            div.sidebar-card
                img.sidebar-card-img(src="img/aside1.jpg")
                h3.sidebar-card-t Our Company
                p.sidebar-card-tx We create connected technologies that reshape industries, transform cities and enrich lives.
                a.sidebar-more Learn more
            div.sidebar-card
                h3.sidebar-card-t Sustainability
                p.sidebar-card-tx Sustainability is at the heart of our strategy.
                a.sidebar-more Find out more
            div.sidebar-card
                h3.sidebar-card-t Strategy & Sustainability Highlights
                p.sidebar-card-tx Discover how we're closing the energy gap and driving efficiency everywhere.
                a.sidebar-more Read the report

            div.sidebar-card
                h3.sidebar-card-t Innovation Summit Highlights
                p.sidebar-card-tx Schneider hosted top industry leaders in Paris to discuss the latest technologies, trends and innovations transforming the world of energy and automation.
                a.sidebar-more Watch the video highlights
            div.sidebar-card
                a.sidebar-more Our worldwide presence
                a.sidebar-more Share Price
                a.sidebar-more Events
                a.sidebar-more Blog
                a.sidebar-more Customer Success Stories
                a.sidebar-more Foundation
                a.sidebar-more Innovation

    footer.footer
        div.content-wrp
            section.footer-email
                figure.footer-logo
                    img(src="img/footer-logo.png")
                div.email-signup
                    p.email-signup-tx SIGN UP FOR EMAIL - Learn about best practices, new solutions and offers
                    form.email-signup-form
                        input.email-signup-inp(placeholder="Email")
                        buttom.btn.email-signup-btn(type="submit") Ok
            section.footer-links
                .footer-links-wrp
                    ul.footer-links-l
                        li.footer-links-i.footer-links-t ABOUT US
                        li.footer-links-i
                            a.footer-links-ln Company Profile
                        li.footer-links-i
                            a.footer-links-ln Careers
                        li.footer-links-i
                            a.footer-links-ln Investors
                        li.footer-links-i
                            a.footer-links-ln Share price
                        li.footer-links-i
                            a.footer-links-ln Press
                        li.footer-links-i
                            a.footer-links-ln Sustainability
                        li.footer-links-i
                            a.footer-links-ln Diversity
                        li.footer-links-i
                            a.footer-links-ln Events
                    ul.footer-links-l
                        li.footer-links-i.footer-links-t SUPPORT
                        li.footer-links-i
                            a.footer-links-ln Customer Care
                        li.footer-links-i
                            a.footer-links-ln Documents and Downloads
                        li.footer-links-i
                            a.footer-links-ln FAQs
                        li.footer-links-i
                            a.footer-links-ln Green Premium Eco label
                        li.footer-links-i
                            a.footer-links-ln Training
                        li.footer-links-i
                            a.footer-links-ln Energy University
                    ul.footer-links-l
                        li.footer-links-i.footer-links-t CONTACT US
                        li.footer-links-i
                            a.footer-links-ln Worldwide
                        li.footer-links-i
                            a.footer-links-ln Sales
                        li.footer-links-i
                            a.footer-links-ln Job search
                        li.footer-links-i
                            a.footer-links-ln Investors
                        li.footer-links-i
                            a.footer-links-ln Shareholders
                        li.footer-links-i
                            a.footer-links-ln Press
                        li.footer-links-i
                            a.footer-links-ln Others contacts
                        li.footer-links-i
                            a.footer-links-ln Blog
                    ul.footer-links-l
                        li.footer-links-i.footer-links-t QUICK LINKS
                        li.footer-links-i
                            a.footer-links-ln For your home
                        li.footer-links-i
                            a.footer-links-ln For your business
                        li.footer-links-i
                            a.footer-links-ln Partners
                        li.footer-links-i
                            a.footer-links-ln Internet of Things
                        li.footer-links-i
                            a.footer-links-ln Life is On
                        li.footer-links-i
                            a.footer-links-ln Insights
                        li.footer-links-i
                            a.footer-links-ln Climate change
                        li.footer-links-i
                            a.footer-links-ln Innovation
            section.footer-social
                ul.footer-social-l
                    li.footer-social-i
                        a.footer-social-i-ln._tw
                    li.footer-social-i
                        a.footer-social-i-ln._fb
                    li.footer-social-i
                        a.footer-social-i-ln._in
                    li.footer-social-i
                        a.footer-social-i-ln._gplus
                    li.footer-social-i
                        a.footer-social-i-ln._yt
                    li.footer-social-i
                        a.footer-social-i-ln._setv
                    li.footer-social-i
                        a.footer-social-i-ln._seblog
                    li.footer-social-i
                        a.footer-social-i-ln._inst
        section.footer-end
            .content-wrp
                .footer-end-wrp
                    a.footer-end-ln Site Map
                    a.footer-end-ln Global - FR
                    a.footer-end-ln Legal Information
                    a.footer-end-ln Privacy and Cookie
                .footer-end-cpr
                    p Policy ©2016, Schneider Electric