doctype html
html
  head
    title="Global Specialist in Energy Management and Automation | Schneider Electric"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section.userbar
      div.content-wrp
        div.userbar-actionitem
          a Change country
        div.userbar-actionitem
          a Login/Join Partner
    nav.navigation
      div.content-wrp._navigation
        .navigation-leftside
          figure.logo.navigation-logo
            img(src="img/header-logo.png")
          section.navigation-items
            div.navigation-item
              a.navigation-item-ln products
            div.navigation-item
              a.navigation-item-ln solutions
            div.navigation-item
              a.navigation-item-ln services
            div.navigation-item
              a.navigation-item-ln support
            div.navigation-item
              a.navigation-item-ln about us
        .navigation-rightside
          section.search.navigation-search
            form
              input.navigation-search-inp(placeholder="Search")
              button.navigation-search-btn(type="submit")
        nav.navigation-dropdown
          ul
            li.navigation-dropdown-column
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Access to Energy
                  ul.navigation-dropdown-list
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Collective Solutions
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Home systems
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Residential & Small Business
                  ul.navigation-dropdown-list
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Audio-Visual Solutions
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Electric Car Charging
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Emergency Lighting
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Home Control Solutions
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Home Safety
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Light Switches
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Network Connectivity
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Protection & Electricity Control
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Solar
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Uninterruptable Power Supply (UPS)
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Access to Energy
                  ul.navigation-dropdown-list
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Solar & Energy Storage
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Commercial & Industrial
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Power Plants
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Residential
            li.navigation-dropdown-column
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Low Voltage Products & Systems
                  ul.navigation-dropdown-list
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Circuit Breakers & Switches
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Contactors & Protection Relays
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Din Rail Modular Devices
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Electric Car Charging
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Electrical Distribution Software
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Emergency Lighting
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Fuse & Safety Switches
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Installation Materials & Systems
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Motor Starters
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Power Monitoring & Control
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Power Quality
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Pushbuttons, Switching & Joysticks
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Surge Protection & Power Conditioning
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Switchboards & Enclosures
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Switches, Sockets & Boxes
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Low Voltage Products & Systems
                  ul.navigation-dropdown-list
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Building Automation & Control
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Building Management
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Power Management Systems
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Power Monitoring & Control
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Security
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Small Building Control
            li.navigation-dropdown-column
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Medium Voltage Distribution & Grid Automation
                  ul.navigation-dropdown-list
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Arc Fault Protection
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Feeder Automation
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Grid Automation & SCADA Software
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Medium Voltage Transformers
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Medium Voltage/Low Voltage Prefabricated Substations
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Outdoor Equipment
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Power & Energy Monitoring
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Primary Switchgear
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Protection Relays
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Remote Terminal Units (RTUs)
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Secondary Switchgear
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Substation Automation
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Switchgear Components
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Critical Power, Cooling & Racks
                  ul.navigation-dropdown-list
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Cooling
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Critical Power & Cooling Services
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln IT Power Distribution
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Prefabricated Data Center Modules
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Racks & Accessories
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Security & Environmental Monitoring
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Surge Protection & Power Conditioning
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Uninterruptible Power Supply (UPS)
            li.navigation-dropdown-column
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Industrial Automation & Control
                  ul.navigation-dropdown-list

                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Boxes, Cabling & Interface
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Contactors & Protection Relays
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Enclosures & Accessories
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln HMI (Terminals & Industrial PCs)
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Industrial Communication
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Interface, Measurement & Control Relays
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Measurement & Instrumentation
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Motion Control & Robotics
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Motor Starters & Protection Components
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln PLC, PAC & Dedicated Controllers
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Power Supplies, Power Protection & Transformers
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Process Control & Safety
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Pushbuttons, Switches, Pilot Lights & Joysticks
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Sensors & RFID System
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Signaling Units
              section.navigation-dropdown-section
                h6
                  a.navigation-dropdown-section-t Software
                  ul.navigation-dropdown-list
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Telemetry & Remote SCADA Systems
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Variable Speed Drives & Soft Starters
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Software
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Software by Industry
                    li.navigation-dropdown-list-i
                      a.navigation-dropdown-list-i-ln Software by Name
    block content
