@font-face {
  font-family: 'Arial Rounded';
  src: url("../fonts/db92e416-da16-4ae2-a4c9-378dc24b7952.eot");
  src: url("../fonts/db92e416-da16-4ae2-a4c9-378dc24b7952.eot") format("eot"), url("../fonts/b5eed192-75b7-4c2d-b1f2-cedcdd33bf77.woff2") format("woff2"), url("../fonts/1e8445a9-4d99-4f0d-9d76-71c1599664c4.woff") format("woff"), url("../fonts/bd95fc88-e7e6-4607-8152-2139d86803ee.ttf") format("truetype"), url("../fonts/6288fb86-8c21-45e2-b845-d1c5c66b26d1.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Rounded';
  src: url("../fonts/6face8d9-7adc-4fb2-8ad5-13822eb622ac.eot");
  src: url("../fonts/6face8d9-7adc-4fb2-8ad5-13822eb622ac.eot") format("eot"), url("../fonts/565f92fc-ce51-41eb-b3da-150821fdcbe9.woff2") format("woff2"), url("../fonts/e6edcc05-ddda-47a2-9845-53ba6c2dcfc4.woff") format("woff"), url("../fonts/2e4c6d3d-53d3-49e0-b55b-ed36671545e4.ttf") format("truetype"), url("../fonts/51cc6783-a047-4e82-ac67-766daefcd833.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Rounded';
  src: url("../fonts/636837b4-3147-45f2-b616-7b53b251258b.eot");
  src: url("../fonts/636837b4-3147-45f2-b616-7b53b251258b.eot") format("eot"), url("../fonts/7cd5de2f-8fb1-427c-9f45-6149d4edf425.woff2") format("woff2"), url("../fonts/62ca5e52-a23b-4365-b69a-9e06b00a8192.woff") format("woff"), url("../fonts/09c37d12-f914-4b7f-b258-9f873abd140d.ttf") format("truetype"), url("../fonts/0984933b-1331-49c4-8af8-cf215c6be707.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 100.01%;
}
/* Cf.: http://www.pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ */
body {
  font-size: 0.8125em;
  line-height: 1.5em;
  font-family: "Arial Rounded", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
  color: #333;
  font-weight: 100;
}
/* Titraille / Intertitres */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 100;
  color: #333;
}
hr {
  height: 1px;
  margin: 1.5em 0;
  border: 0;
  background: #333;
  color: #333;
}
/* Titraille Blueprint */
h1,
.h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.71428571em;
  margin-bottom: 0.85714286em;
}
h3,
.h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4,
.h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
}
h5,
.h5 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1.5em;
}
h6,
.h6 {
  font-size: 1em;
  font-weight: normal;
}
/* Enrichissements typographiques */
strong,
b {
  font-weight: normal;
}
em,
i {
  font-style: italic;
}
small,
.small {
  font-size: 80%;
}
big,
.big {
  font-size: 150%;
}
abbr[title],
acronym[title] {
  border-bottom: .1em dotted;
  cursor: help;
}
@media print {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}
dfn {
  font-weight: normal;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
ins {
  text-decoration: none;
  background-color: #FFC;
}
sup,
sub {
  font-size: .8em;
  font-variant: normal;
  line-height: 0;
}
sup {
  vertical-align: super;
}
.ie sup {
  vertical-align: text-top;
}
sub {
  vertical-align: sub;
}
.ie sub {
  vertical-align: text-bottom;
}
.caps {
  font-variant: small-caps;
}
/* Listes */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
dl dt {
  font-weight: normal;
}
/* Citations, code et poesie */
q {
  font-style: italic;
}
blockquote {
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  font-style: italic;
}
cite {
  font-style: italic;
}
address {
  font-style: italic;
}
pre,
code,
kbd,
samp,
var,
tt {
  font-family: 'andale mono', 'lucida console', monospace;
  font-size: 1em;
  line-height: 1.5em;
}
pre {
  margin: 1.5em 0;
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
}
kbd {
  background-color: #333;
  color: #FFFFFF;
}
samp {
  font-weight: normal;
}
var {
  font-style: italic;
}
/* Paragraphes */
p,
.p,
dl,
dd,
blockquote,
address,
pre,
table,
fieldset {
  margin-bottom: 1.5em;
}
/* Liens */
a[hreflang]:after {
  content: "\0000a0(" attr(hreflang) ")";
}
/*@color*/
@media print {
  a,
  a:visited {
    color: #333;
    text-decoration: underline;
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
}
.on {
  font-weight: normal;
}
/**
* Print styles from HTML5 Boilerplate
* Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  pre,
  blockquote {
    page-break-inside: avoid;
    border: 1px solid #999;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}
#dispatch .main h2 {
  font-weight: 100;
  font-size: 3em;
  text-shadow: 0.2em 0.2em 0.5em black;
  margin-bottom: -10px;
}
#dispatch .main span {
  font-size: 1.5em;
  line-height: 1.1em;
  font-weight: 100;
}
nav.menu {
  font-size: 1.2em;
}
.column .greentext {
  color: #3DCD58;
  font-weight: normal;
}
.main h1 {
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
.main h2,
.main h3 {
  font-size: 3.0769em;
  line-height: 1em;
  color: #3DCD58;
  margin-bottom: .5em;
}
.main > h2 {
  color: #9fa0a4;
  margin-top: 0.75em;
}
.main h4 {
  color: #626469;
  margin-bottom: 0.75em;
  font-size: 1.9231em;
}
.main .picks h2 {
  clear: both;
  padding-top: 10px;
  color: #626469;
}
.main > .editorial-content {
  background-color: white;
  color: #626469;
}
.editorial-content {
  padding: 3.5em 2em;
  position: relative;
  font-size: 1.1em;
  color: #626469;
}
.editorial-content .column {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 0 15px;
}
.editorial-content .column:nth-of-type(1) {
  padding: 0;
}
.editorial-content .column h3 {
  font-size: 1.3em;
  font-weight: 100;
}
.editorial-content h1 {
  font-weight: 100;
  font-size: 2.8em;
  line-height: 1em;
  margin: 0;
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #CCCCCC;
  color: #3DCD58 !important;
}
.editorial-content h2,
.editorial-content h3 {
  font-weight: normal;
  margin: 0;
  font-size: 1.3em;
  color: #3DCD58;
}
.editorial-content p {
  color: #333;
}
.editorial-content ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
  list-style: url('../img/editorial-bullet.png');
}
.editorial-content li {
  list-style: inherit;
  color: #3DCD58;
}
.editorial-content a {
  margin-top: 1em;
  display: inline-block;
  color: #42b4e6;
  font-weight: normal;
  font-size: 1.0769em;
}
.editorial-content img {
  max-width: 100%;
}
.editorial-content::after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}
a {
  outline: none;
}
html,
body {
  height: 100%;
  margin: 0pt;
  direction: ltr /*rtl:rtl*/;
}
.slider-new ~ .main,
.slider ~ .main {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
.slider-new ~ .main > span,
.slider ~ .main > span,
.slider-new ~ .main > div,
.slider ~ .main > div,
.slider-new ~ .main > ul,
.slider ~ .main > ul,
.slider-new ~ .main > a,
.slider ~ .main > a,
.slider-new ~ .main > section,
.slider ~ .main > section,
.slider-new ~ .main > form,
.slider ~ .main > form,
.slider-new ~ .main > ul.tips-section,
.slider ~ .main > ul.tips-section,
.slider-new ~ .main > article,
.slider ~ .main > article {
  width: auto;
  margin: 1.5em auto 2.5em auto;
}
.slider-new ~ .main > span.chat-content,
.slider ~ .main > span.chat-content,
.slider-new ~ .main > div.chat-content,
.slider ~ .main > div.chat-content,
.slider-new ~ .main > ul.chat-content,
.slider ~ .main > ul.chat-content,
.slider-new ~ .main > a.chat-content,
.slider ~ .main > a.chat-content,
.slider-new ~ .main > section.chat-content,
.slider ~ .main > section.chat-content,
.slider-new ~ .main > form.chat-content,
.slider ~ .main > form.chat-content,
.slider-new ~ .main > ul.tips-section.chat-content,
.slider ~ .main > ul.tips-section.chat-content,
.slider-new ~ .main > article.chat-content,
.slider ~ .main > article.chat-content {
  margin: 0;
  padding: 0;
  background: none;
}
.slider-new ~ .main > span.accelerator-cta,
.slider ~ .main > span.accelerator-cta,
.slider-new ~ .main > div.accelerator-cta,
.slider ~ .main > div.accelerator-cta,
.slider-new ~ .main > ul.accelerator-cta,
.slider ~ .main > ul.accelerator-cta,
.slider-new ~ .main > a.accelerator-cta,
.slider ~ .main > a.accelerator-cta,
.slider-new ~ .main > section.accelerator-cta,
.slider ~ .main > section.accelerator-cta,
.slider-new ~ .main > form.accelerator-cta,
.slider ~ .main > form.accelerator-cta,
.slider-new ~ .main > ul.tips-section.accelerator-cta,
.slider ~ .main > ul.tips-section.accelerator-cta,
.slider-new ~ .main > article.accelerator-cta,
.slider ~ .main > article.accelerator-cta,
.slider-new ~ .main > span .accelerator-cta,
.slider ~ .main > span .accelerator-cta,
.slider-new ~ .main > div .accelerator-cta,
.slider ~ .main > div .accelerator-cta,
.slider-new ~ .main > ul .accelerator-cta,
.slider ~ .main > ul .accelerator-cta,
.slider-new ~ .main > a .accelerator-cta,
.slider ~ .main > a .accelerator-cta,
.slider-new ~ .main > section .accelerator-cta,
.slider ~ .main > section .accelerator-cta,
.slider-new ~ .main > form .accelerator-cta,
.slider ~ .main > form .accelerator-cta,
.slider-new ~ .main > ul.tips-section .accelerator-cta,
.slider ~ .main > ul.tips-section .accelerator-cta,
.slider-new ~ .main > article .accelerator-cta,
.slider ~ .main > article .accelerator-cta {
  padding: 2em 4em;
}
.slider-new ~ .main > ul.tips-section.tips-green,
.slider ~ .main > ul.tips-section.tips-green {
  padding: 0;
}
.slider-new ~ .main > .top-content,
.slider ~ .main > .top-content,
.slider-new ~ .main > .product-search,
.slider ~ .main > .product-search,
.slider-new ~ .main > #how-to,
.slider ~ .main > #how-to,
.slider-new ~ .main > #filters,
.slider ~ .main > #filters {
  overflow: visible;
}
.slider-new ~ .main .show-desktop,
.slider ~ .main .show-desktop,
.slider-new ~ .main .hide-mobile,
.slider ~ .main .hide-mobile {
  display: block !important;
}
.slider-new ~ .main .hide-desktop,
.slider ~ .main .hide-desktop,
.slider-new ~ .main .show-mobile,
.slider ~ .main .show-mobile {
  display: none !important;
}
.main > h2,
.main > h3 {
  margin: 0;
  font-size: 2.7692em;
  line-height: 1.2em;
}
.main .show-desktop,
.main .hide-mobile {
  display: block !important;
}
.main .hide-desktop,
.main .show-mobile {
  display: none !important;
}
.main > span,
.main > div,
.main > ul,
.main > a,
.main > section,
.main > form,
.main > ul.tips-section {
  width: 960px;
  margin: 1.5em auto 2.5em auto;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 1.25em 2em;
  background-color: white;
  color: #626469;
}
.main > span:first-child,
.main > div:first-child,
.main > ul:first-child,
.main > a:first-child,
.main > section:first-child,
.main > form:first-child,
.main > ul.tips-section:first-child {
  margin-top: 0;
}
.main > span:last-child,
.main > div:last-child,
.main > ul:last-child,
.main > a:last-child,
.main > section:last-child,
.main > form:last-child,
.main > ul.tips-section:last-child {
  margin-bottom: 40px;
}
.main > span.chat-content,
.main > div.chat-content,
.main > ul.chat-content,
.main > a.chat-content,
.main > section.chat-content,
.main > form.chat-content,
.main > ul.tips-section.chat-content,
.main > span.no-column,
.main > div.no-column,
.main > ul.no-column,
.main > a.no-column,
.main > section.no-column,
.main > form.no-column,
.main > ul.tips-section.no-column {
  margin: 0;
  padding: 0;
  background: none;
}
.main > span.job-search,
.main > div.job-search,
.main > ul.job-search,
.main > a.job-search,
.main > section.job-search,
.main > form.job-search,
.main > ul.tips-section.job-search {
  overflow: visible;
}
.main > span img.adapt-img-ie,
.main > div img.adapt-img-ie,
.main > ul img.adapt-img-ie,
.main > a img.adapt-img-ie,
.main > section img.adapt-img-ie,
.main > form img.adapt-img-ie,
.main > ul.tips-section img.adapt-img-ie {
  max-width: 100%;
  height: auto;
}
.main > span h2,
.main > div h2,
.main > ul h2,
.main > a h2,
.main > section h2,
.main > form h2,
.main > ul.tips-section h2,
.main > span h3,
.main > div h3,
.main > ul h3,
.main > a h3,
.main > section h3,
.main > form h3,
.main > ul.tips-section h3 {
  font-size: 2.6923em;
  color: #3DCD58;
}
.main > span h2,
.main > div h2,
.main > ul h2,
.main > a h2,
.main > section h2,
.main > form h2,
.main > ul.tips-section h2,
.main > span h3,
.main > div h3,
.main > ul h3,
.main > a h3,
.main > section h3,
.main > form h3,
.main > ul.tips-section h3 {
  margin-bottom: .5em;
}
.main > span.no-padding,
.main > div.no-padding,
.main > ul.no-padding,
.main > a.no-padding,
.main > section.no-padding,
.main > form.no-padding,
.main > ul.tips-section.no-padding {
  width: 100%;
}
.main > span.no-padding ul.tips-section,
.main > div.no-padding ul.tips-section,
.main > ul.no-padding ul.tips-section,
.main > a.no-padding ul.tips-section,
.main > section.no-padding ul.tips-section,
.main > form.no-padding ul.tips-section,
.main > ul.tips-section.no-padding ul.tips-section {
  width: 960px;
  margin: 0 auto;
}
.main > ul.tips-section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main > ul.tips-section.tips-green {
  padding: 0;
}
.main > div.chat-content {
  margin: 0;
  padding: 0;
}
.main .horizontal-image + div,
.main .horizontal-image + article,
.main .horizontal-image + section,
.main .horizontal-image + li,
.main .horizontal-image + ul {
  margin-top: 0;
}
.main > .top-content,
.main > .product-search,
.main > #how-to,
.main > #filters {
  overflow: visible;
}
.main .slider-new {
  width: 100vw;
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: none;
}
.main .slider-new h2,
.main .slider-new h3 {
  color: #fff;
}
#page {
  display: table;
  height: 100%;
  width: 100%;
  -webkit-transition: margin 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: margin 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#page .slider-new ~ .main {
  margin-top: 40px;
}
.slider {
  min-height: 350px;
}
.wrap-content,
.footer-pusher {
  display: table-row;
}
.wrap-content {
  display: block;
  width: 100%;
  overflow: hidden;
  transition: none;
}
body {
  background: #fafafa;
  color: #fff;
}
.adapt-img-wrapper {
  width: 100%;
}
.adapt-img-wrapper img.adapt-img {
  width: 100%;
}
body .selectize-dropdown {
  z-index: 4;
}
.footer-container {
  display: table-footer-group;
  overflow: visible;
}
#dispatch .main {
  width: 100%;
}
.notification {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background: #e7e6e6;
  border-top: 1px solid #ddd;
}
.notification strong {
  display: block;
  font-size: 1.45em;
  font-weight: normal;
  padding-bottom: 1em;
  color: black;
}
.notification:first-child {
  border: none;
}
.notification > div {
  padding: 1em 0;
  display: table;
  max-width: 960px;
  margin: 0 auto;
}
.notification span:not(.icon-close) {
  display: table-cell;
  position: relative;
  padding: 0 1em;
  vertical-align: bottom;
  color: #626469;
}
.notification span:not(.icon-close):first-child {
  padding-left: 0;
}
.notification span:not(.icon-close):last-child {
  padding-right: 0;
}
.notification p a {
  color: #42b4e6;
  text-decoration: underline;
}
.notification#country-notification > div > span {
  width: 35%;
}
.notification#country-notification > div > span:last-child {
  vertical-align: top;
  width: 30%;
}
.notification .notification-btn {
  display: inline-block;
  background: #42b4e6;
  color: #fff;
  padding: 0.8em 1.5em;
  font-weight: normal;
  border-color: #fff;
  border-style: solid;
  border-width: 0px;
  text-align: center;
  border-radius: 0;
  width: 70%;
  margin: 1em 0;
  margin-left: 30%;
}
.notification .notification-btn:hover {
  background-color: #42b4e6;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59bde9), color-stop(100% #42b4e6));
  background-image: -webkit-linear-gradient(top, #59bde9 0%, #42b4e6 100%);
  background-image: -moz-linear-gradient(top, #59bde9 0%, #42b4e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59bde9', endColorstr='#ff42b4e6', GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59bde9',endColorstr='#ff42b4e6',GradientType=0);
  background-image: -ms-linear-gradient(top, #59bde9 0%, #42b4e6 100%);
  background-image: -o-linear-gradient(top, #59bde9 0%, #42b4e6 100%);
  background-image: linear-gradient(top, #59bde9 0%, #42b4e6 100%);
}
.notification .notification-btn:active {
  background: black;
  color: #fff;
}
.notification .notification-close {
  display: block;
  margin: 1em 0;
  text-align: right;
  color: black;
  cursor: pointer;
}
.notification .notification-close div {
  font-style: normal;
  background: black;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 1.2em;
  text-align: center;
  font-size: 1.1em;
  font-weight: 100;
  vertical-align: middle;
  margin-left: 1em;
}
#cookie-notification a {
  font-size: 1em;
}
#cookie-notification a.notification-close span {
  background: #000;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  font-weight: 100;
  height: 15px;
  line-height: 1.2em;
  margin-left: 0.4em;
  text-align: center;
  vertical-align: middle;
  width: 15px;
}
@-moz-document url-prefix() {
  .notification #notification-close i,
  .notification #notification-close span {
    line-height: 1.1em;
  }
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
#iframe-content {
  background-color: #eee;
}
.main #iframe-content {
  padding: 0;
}
.video > div object,
.video > div {
  width: 100% !important;
  height: 100% !important;
}
body {
  padding-top: calc(94px);
}
.wrap-content,
#support-bar {
  -webkit-transition: 0.45s;
  transition: 0.45s;
}
.header-container {
  position: fixed;
  top: 0;
  z-index: 5;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  width: 100%;
}
.header-top {
  height: 30px;
  background: white;
  color: #626469;
}
.header-top a:hover {
  text-decoration: underline;
}
.header-top div {
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 .2em;
}
.header-top ul {
  display: table;
  text-align: right;
  width: auto;
  height: 100%;
  float: right;
}
.header-top li {
  display: table-cell;
  vertical-align: middle;
}
.header-top li a:before {
  margin-right: 8px;
  position: relative;
  top: 3px;
}
.header-content {
  height: 64px;
  background: #3DCD58;
  color: white;
}
.header-content .mobile-country-selector,
.header-content .mobile-header-login-link,
.header-content .back-button,
.header-content .hamburger-button {
  display: none;
}
.main-menu {
  width: 960px;
  margin: 0 auto;
}
.main-menu .hamburger-button {
  position: static;
  float: right;
}
.main-menu .hamburger-button:after {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  display: none;
  left: 100%;
  margin-left: -32px;
}
.main-menu .hamburger-button .icon-hamburger {
  display: block;
  height: 2px;
  width: 25px;
  background: #fff;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 10px;
  display: inline-block;
}
.main-menu .hamburger-button .icon-hamburger:before {
  content: '';
  position: absolute;
  top: -8.33333333px;
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.main-menu .hamburger-button .icon-hamburger:after {
  content: '';
  position: absolute;
  top: 8.33333333px;
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.main-menu .hamburger-button.active:after {
  display: block;
}
.main-menu .hamburger-button.active .icon-hamburger {
  background: transparent;
}
.main-menu .hamburger-button.active .icon-hamburger:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
.main-menu .hamburger-button.active .icon-hamburger:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
.main-menu .logo-header img {
  display: block;
  height: 32px;
  width: auto;
  margin-right: 30px;
}
.main-menu .icon-search-b2 {
  background-image: url('../img/common-sprite.png');
  background-repeat: no-repeat;
  background-size: 323px 319px;
  width: 20px;
  height: 20px;
  background-position: -140px -283px;
  font-size: 0;
  position: absolute;
  display: inline-block;
  right: 0;
  top: 4px;
  background-color: transparent;
  border: none;
}
@media print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx) {
  .main-menu .icon-search-b2 {
    background-image: url('../img/common-sprite@2x.png');
    background-size: 323px 319px;
  }
}
.main-menu > li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.main-menu > li:nth-of-type(2) {
  position: static;
}
.main-menu > li:last-child {
  position: relative;
  display: none;
}
.main-menu > li:nth-last-child(2) {
  width: 100%;
}
.main-menu .dropdown {
  position: fixed;
  top: calc(94px);
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.45s;
  transition: max-height 0.45s;
  background: #fafafa;
}
.main-menu .dropdown.active {
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}
.main-menu .dropdown > div {
  max-width: 960px;
  margin: 0 auto;
}
.level1 {
  z-index: 2;
  height: 100%;
}
.level1 > li {
  height: 64px;
  position: relative;
  padding: 22px 19.5px;
  display: table-cell;
  vertical-align: middle;
}
.level1 > li > a {
  white-space: nowrap;
  display: inline-block;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .1ex;
  position: relative;
}
.level1 > li > a:after {
  content: '';
  display: block;
  height: 2px;
  background: white;
  opacity: 0;
  position: absolute;
  bottom: -4px;
  width: 100%;
}
.level1 > li > a:hover:after {
  opacity: 1;
}
.level1 > li.selected > a:after {
  opacity: 1;
}
.level2 {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}
.level2 > li {
  display: block;
}
.level2 > li:before,
.level2 > li:after {
  content: " ";
  display: table;
  clear: both;
}
.level2 > li > a {
  color: #3DCD58;
  padding: 3px 0;
  display: inline-block;
  float: left;
}
.level2 > li > a:hover {
  color: black;
  text-decoration: underline;
}
.level2 > li.selected > div div,
.level2 > li.selected > div a,
.level2 > li.selected > div ul,
.level2 > li.selected > div li,
.level2 > li.selected > div span {
  visibility: visible;
}
.level2 > li div > div > a {
  position: absolute;
  top: 33px;
  left: 0;
  color: #626469;
}
.level2 > li div > div > a:hover,
.level2 > li div > div > a.selected {
  text-decoration: underline;
  color: black;
}
.level2 > li > div div,
.level2 > li > div a,
.level2 > li > div ul,
.level2 > li > div li,
.level2 > li > div span {
  visibility: hidden;
}
.level2.additional-links {
  display: inline-block;
  padding-top: 20px;
}
.level3 {
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
}
.level3 > li {
  width: 49%;
  padding: 3px 0;
  display: inline-block;
}
.level3 > li:nth-of-type(odd) {
  padding-right: 2em;
}
.level3 > li:nth-of-type(even) {
  padding-left: 2em;
}
.level3 > li a {
  color: #9fa0a4;
}
.level3 > li.selected a,
.level3 > li:hover a {
  color: #626469;
  text-decoration: underline;
}
.search-layer {
  color: #626469;
  height: 28px;
  background: transparent;
  position: relative;
  top: 0;
  max-height: none;
  display: inline-block;
  overflow: visible;
  vertical-align: middle;
  width: 100%;
}
.search-layer .search-bar {
  display: table;
  position: relative;
  width: 100%;
  padding-right: 30px;
}
.search-layer .search-bar > input {
  display: table-cell;
}
.search-layer .search-bar .reset-search {
  background-image: url('../img/common-sprite.png');
  background-repeat: no-repeat;
  background-size: 323px 319px;
  width: 19px;
  height: 19px;
  background-position: -304px -76px;
  font-size: 0;
  background-color: transparent;
  border: none;
  display: none;
  position: static;
  position: absolute;
  right: 40px;
  top: 6px;
}
@media print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx) {
  .search-layer .search-bar .reset-search {
    background-image: url('../img/common-sprite@2x.png');
    background-size: 323px 319px;
  }
}
.search-layer .search-bar .search-field {
  background: white;
  border: none;
  outline: none;
  font-family: inherit;
  padding: .4em .5em;
  width: 100%;
  max-width: auto;
  height: 28px;
  color: black;
  border-radius: 1px;
  border: 1px solid #9fa0a4;
  overflow: hidden;
}
.search-layer .search-bar .search-field:focus {
  border-color: #3DCD58;
}
.search-layer .search-results {
  font-size: .85em;
  display: none;
  border-bottom: 1px solid black;
  border-width: 1px 0;
  width: 230px;
  max-width: 86.5%;
  position: absolute;
  top: 25px;
  background: white;
  padding: .5em 1em;
  border: 1px solid #3DCD58;
  border-top: none;
  height: auto;
}
.search-layer .search-results li {
  display: block;
  padding: 0;
  height: auto;
}
.search-layer .search-results li:hover {
  background: #e7e6e6;
}
.search-layer .search-results a {
  display: block;
  line-height: 1.8em;
}
.search-layer .search-results a span {
  vertical-align: initial;
}
.search-layer .search-results a span.highlight {
  font-weight: normal;
  color: black;
}
.search-layer .search-results:before {
  content: '';
  display: block;
  height: 1px;
  width: 99%;
  margin: 0 auto;
  background: #9fa0a4;
  margin-bottom: .5em;
}
#header-country-selector a:before {
  display: inline-block;
  content: '';
  background-image: url('../img/common-sprite.png');
  background-repeat: no-repeat;
  background-size: 323px 319px;
  width: 16px;
  height: 16px;
  background-position: -304px -274px;
}
@media print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx) {
  #header-country-selector a:before {
    background-image: url('../img/common-sprite@2x.png');
    background-size: 323px 319px;
  }
}
#header-login-link.selected:after {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}
#header-login-link > a {
  text-transform: none;
  letter-spacing: normal;
}
#header-login-link > a:before {
  display: inline-block;
  content: '';
  background-image: url('../img/common-sprite.png');
  background-repeat: no-repeat;
  background-size: 323px 319px;
  width: 15px;
  height: 15px;
  background-position: -30px -304px;
  margin-left: 30px;
}
@media print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx) {
  #header-login-link > a:before {
    background-image: url('../img/common-sprite@2x.png');
    background-size: 323px 319px;
  }
}
#header-login-link.logged > a {
  padding: 10px;
}
#header-login-link.logged > a .header-user-icon {
  background-image: url('../img/common-sprite.png');
  background-repeat: no-repeat;
  background-size: 323px 319px;
  width: 20px;
  height: 20px;
  background-position: -80px -283px;
  display: inline-block;
}
@media print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx) {
  #header-login-link.logged > a .header-user-icon {
    background-image: url('../img/common-sprite@2x.png');
    background-size: 323px 319px;
  }
}
#header-login-link.logged > a .user-name {
  display: none;
}
#header-login-link > div {
  height: 0;
}
#header-login-link > div > .wrapper > li {
  display: block;
}
#header-login-link > div > .wrapper > li:after {
  display: none;
}
#header-login-link > div > .wrapper > li > a {
  display: none;
}
#header-login-link > div > .wrapper > li > div {
  margin-top: 0;
  position: relative;
  top: 0;
  width: 960px;
  background: transparent;
}
#header-login-link > div > .wrapper > li > div > .wrapper {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  width: 240px;
  min-height: 0;
  background: white;
  border: none;
  padding: 16px;
  font-size: 1.2em;
}
#header-login-link > div > .wrapper > li > div > .wrapper .welcome {
  font-weight: normal;
  color: #3DCD58;
}
#header-login-link > div > .wrapper > li > div > .wrapper ul {
  display: block;
  width: 100%;
  margin: 8px 0;
}
#header-login-link > div > .wrapper > li > div > .wrapper ul a {
  font-weight: normal;
  margin-top: 8px;
}
#header-login-link > div > .wrapper > li > div > .wrapper li:after,
#header-login-link > div > .wrapper > li > div > .wrapper li.selected:after {
  display: none;
}
.footer-container {
  background: #e7e6e6;
  font-size: 1em;
  line-height: normal;
}
.footer-container ul {
  padding: 0;
  margin: 0;
}
.footer-container li {
  list-style: none;
}
.footer-container a {
  text-decoration: none;
  color: inherit;
}
.footer-container .wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
  display: table;
}
.footer-container .wrapper:before,
.footer-container .wrapper:after {
  content: " ";
  display: table;
  clear: both;
}
.footer-container .footer-main {
  display: table-cell;
  width: 25%;
  font-size: 1.0769em;
}
.footer-container .footer-main > li:nth-last-child(2) {
  padding: 1.5em 0;
}
.footer-container .footer-main > li:last-child {
  position: absolute;
  bottom: 3em;
}
.footer-container .footer-main a {
  color: #42b4e6;
  font-weight: normal;
  padding: 0.1em;
  display: inline-block;
}
.footer-container .footer-main img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: inline-block;
}
.footer-container .footer-links {
  display: table-cell;
  font-size: 1.2308em;
}
.footer-container .footer-links .title {
  color: #3DCD58;
  text-transform: uppercase;
  margin-bottom: .3em;
  display: block;
  font-size: 1em;
}
.footer-container .footer-links a {
  color: #626469;
  font-size: .9em;
  display: block;
  padding: .3em 0;
}
.footer-container .footer-links form {
  margin-top: 1em;
}
.footer-container .footer-links input {
  display: inline-block;
  vertical-align: middle;
}
.footer-container .footer-links input[type=text] {
  width: 70%;
  border: 1px solid #ddd;
  font-size: .9em;
  padding: 10px;
}
.footer-container .footer-links input[type=submit] {
  background: none;
  border: none;
  color: #333333;
  padding: 10px;
  font-weight: normal;
}
.footer-container .footer-links .footer-social {
  overflow: hidden;
  padding-top: 1em;
}
.footer-container .footer-links .footer-social > li {
  display: inline-block;
  float: left;
  padding: .5em 1em;
  position: relative;
  height: auto;
}
.footer-container .footer-links .footer-social > li:nth-child(4n+1) {
  padding-left: 0;
  clear: left;
}
.footer-container .footer-links .footer-social > li:nth-child(4n) {
  padding-right: 0;
}
.footer-container .footer-links .footer-social > li:last-child::after {
  clear: both;
}
.footer-container .footer-links .footer-social a {
  display: inline-block;
  padding: 5px 0;
  vertical-align: top;
}
.footer-container .footer-links .footer-social span {
  background-image: url('../img/common-sprite.png');
  background-size: 323px 319px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
@media print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx) {
  .footer-container .footer-links .footer-social span {
    background-image: url('../img/common-sprite@2x.png');
    background-size: 323px 319px;
  }
}
.footer-container .footer-links .footer-social .icon-blog {
  width: 27px;
  height: 27px;
  background-position: -167px -122px;
}
.footer-container .footer-links .footer-social .icon-facebook {
  width: 27px;
  height: 27px;
  background-position: -255px -183px;
}
.footer-container .footer-links .footer-social .icon-flickr {
  width: 27px;
  height: 27px;
  background-position: -216px -231px;
}
.footer-container .footer-links .footer-social .icon-gplus {
  width: 27px;
  height: 27px;
  background-position: -189px -231px;
}
.footer-container .footer-links .footer-social .icon-ig {
  width: 27px;
  height: 27px;
  background-position: -162px -231px;
}
.footer-container .footer-links .footer-social .icon-linkedin {
  width: 27px;
  height: 27px;
  background-position: -135px -231px;
}
.footer-container .footer-links .footer-social .icon-setv {
  width: 27px;
  height: 27px;
  background-position: -108px -231px;
}
.footer-container .footer-links .footer-social .icon-twitter {
  width: 27px;
  height: 27px;
  background-position: -81px -231px;
}
.footer-container .footer-links .footer-social .icon-viadeo {
  width: 27px;
  height: 27px;
  background-position: -54px -231px;
}
.footer-container .footer-links .footer-social .icon-wechat {
  width: 27px;
  height: 27px;
  background-position: -27px -231px;
}
.footer-container .footer-links .footer-social .icon-weibo {
  width: 27px;
  height: 27px;
  background-position: 0 -231px;
}
.footer-container .footer-links .footer-social .icon-youku {
  width: 27px;
  height: 27px;
  background-position: -184px -150px;
}
.footer-container .footer-links .footer-social .icon-youtube {
  width: 27px;
  height: 27px;
  background-position: -255px -156px;
}
.footer-container .footer-links .footer-social .icon-pdc {
  width: 27px;
  height: 27px;
  background-position: -140px -122px;
}
.footer-container .footer-links > li {
  display: table-cell;
  width: 25%;
  padding-right: 10px;
}
.footer-container .footer-links > li:last-child {
  padding-right: 0;
}
.footer-container .footer-bottom-bar {
  background: #3DCD58;
  font-weight: 100;
  color: white;
}
.footer-container .footer-bottom-bar:before,
.footer-container .footer-bottom-bar:after {
  content: " ";
  display: table;
  clear: both;
}
.footer-container .footer-bottom-bar .wrapper {
  padding: 0;
}
.footer-container .footer-about {
  padding-left: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
  margin: 25px 0 25px 15px;
}
.footer-container .footer-about li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 .5em;
}
