body {
  padding-top: 64px;
}
#page {
  display: table;
}
.main {
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  display: inline;
}
.main .show-desktop,
.main .hide-mobile {
  display: none !important;
}
.main .hide-desktop,
.main .show-mobile {
  display: block !important;
}
.main > ul.tips-section {
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main > ul.tips-section > li,
.main > ul.tips-section > div,
.main > ul.tips-section > article {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
}
.main > ul.tips-section > li:nth-child(n+2),
.main > ul.tips-section > div:nth-child(n+2),
.main > ul.tips-section > article:nth-child(n+2) {
  border-top: 0 solid transparent;
}
.main > ul.tips-section > li:not(:nth-child(1n + 1)),
.main > ul.tips-section > div:not(:nth-child(1n + 1)),
.main > ul.tips-section > article:not(:nth-child(1n + 1)) {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
}
.main > ul.tips-section > li:nth-child(1n + 1),
.main > ul.tips-section > div:nth-child(1n + 1),
.main > ul.tips-section > article:nth-child(1n + 1) {
  border-right: 0 solid transparent;
  border-left: 0;
}
.main > ul.tips-section > li:nth-child(1n + 1),
.main > ul.tips-section > div:nth-child(1n + 1),
.main > ul.tips-section > article:nth-child(1n + 1) {
  border-left: 0 solid transparent;
  border-right: 0;
}
.main > ul.tips-section > li > a,
.main > ul.tips-section > div > a,
.main > ul.tips-section > article > a {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.ie9 .main > ul.tips-section {
  display: block;
}
.ie9 .main > ul.tips-section > li,
.ie9 .main > ul.tips-section > div,
.ie9 .main > ul.tips-section > article {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-right: -0.5ex;
}
.main > ul.tips-section > li {
  padding: 0;
  border-bottom: 2px solid #fff;
}
.main > div.no-padding {
  padding: 0;
}
.main > div.no-padding ul.tips-section {
  width: 100%;
}
.slider-new ~ .main .show-desktop,
.slider ~ .main .show-desktop,
.slider-new ~ .main .hide-mobile,
.slider ~ .main .hide-mobile {
  display: none !important;
}
.slider-new ~ .main .hide-desktop,
.slider ~ .main .hide-desktop,
.slider-new ~ .main .show-mobile,
.slider ~ .main .show-mobile {
  display: block !important;
}
.slider-new ~ .main > span.accelerator-cta,
.slider ~ .main > span.accelerator-cta,
.slider-new ~ .main > div.accelerator-cta,
.slider ~ .main > div.accelerator-cta,
.slider-new ~ .main > ul.accelerator-cta,
.slider ~ .main > ul.accelerator-cta,
.slider-new ~ .main > a.accelerator-cta,
.slider ~ .main > a.accelerator-cta,
.slider-new ~ .main > section.accelerator-cta,
.slider ~ .main > section.accelerator-cta,
.slider-new ~ .main > form.accelerator-cta,
.slider ~ .main > form.accelerator-cta,
.slider-new ~ .main > ul.tips-section.accelerator-cta,
.slider ~ .main > ul.tips-section.accelerator-cta,
.slider-new ~ .main > span .accelerator-cta,
.slider ~ .main > span .accelerator-cta,
.slider-new ~ .main > div .accelerator-cta,
.slider ~ .main > div .accelerator-cta,
.slider-new ~ .main > ul .accelerator-cta,
.slider ~ .main > ul .accelerator-cta,
.slider-new ~ .main > a .accelerator-cta,
.slider ~ .main > a .accelerator-cta,
.slider-new ~ .main > section .accelerator-cta,
.slider ~ .main > section .accelerator-cta,
.slider-new ~ .main > form .accelerator-cta,
.slider ~ .main > form .accelerator-cta,
.slider-new ~ .main > ul.tips-section .accelerator-cta,
.slider ~ .main > ul.tips-section .accelerator-cta {
  width: 100%;
  padding: 25px 15px;
}
.main .slider-new {
  background: none;
}
.main .slider-new .title-banner {
  background-color: #fff;
}
.main .slider-new .image-banner .vertical-align .content > h2 {
  margin-top: 0;
  color: #333333;
}
.wrap-content {
  height: auto;
  display: block;
}
.footer-container {
  display: table-row;
  padding-top: 10px;
  margin-top: 0;
  background: white;
}
.prev-big-arrow,
.next-big-arrow {
  display: none;
}
select,
input,
textarea {
  font-size: 16px;
}
.buorg div,
#cookie-notification > span {
  padding: .5em;
  padding-right: 45px;
  font-size: .8em;
  line-height: 1.2em;
  font-weight: 100;
  width: 100%;
}
.buorg div .message,
#cookie-notification > span .message {
  width: auto;
}
.notification {
  position: absolute;
}
.notification > div > span {
  text-align: center;
  display: block !important;
  width: 100% !important;
}
.notification > div > span,
.notification > div > span:first-child,
.notification > div > span:last-child {
  padding: 0 2em;
}
.notification > div > span #notification-close {
  text-align: center;
}
.notification > div > span .notification-btn {
  margin: 0 15%;
}
.adapt-img-wrapper {
  display: block;
}
.proactive-chat {
  top: 64px;
  bottom: initial;
}
#page,
.header-container,
.footer-container {
  display: block;
}
.main > span,
.main > div,
.main > h2,
.main > ul,
.main > a,
.main > section,
.main > form {
  width: 100%;
  margin: 30px 0;
  padding: 25px 15px;
  border: 0;
}
.main > span:last-child,
.main > div:last-child,
.main > h2:last-child,
.main > ul:last-child,
.main > a:last-child,
.main > section:last-child,
.main > form:last-child {
  margin-bottom: 0;
}
.main > span:first-child,
.main > div:first-child,
.main > h2:first-child,
.main > ul:first-child,
.main > a:first-child,
.main > section:first-child,
.main > form:first-child {
  margin-top: 0;
}
.main > span .horizontal-image + div,
.main > div .horizontal-image + div,
.main > h2 .horizontal-image + div,
.main > ul .horizontal-image + div,
.main > a .horizontal-image + div,
.main > section .horizontal-image + div,
.main > form .horizontal-image + div,
.main > span .horizontal-image + article,
.main > div .horizontal-image + article,
.main > h2 .horizontal-image + article,
.main > ul .horizontal-image + article,
.main > a .horizontal-image + article,
.main > section .horizontal-image + article,
.main > form .horizontal-image + article,
.main > span .horizontal-image + section,
.main > div .horizontal-image + section,
.main > h2 .horizontal-image + section,
.main > ul .horizontal-image + section,
.main > a .horizontal-image + section,
.main > section .horizontal-image + section,
.main > form .horizontal-image + section,
.main > span .horizontal-image + li,
.main > div .horizontal-image + li,
.main > h2 .horizontal-image + li,
.main > ul .horizontal-image + li,
.main > a .horizontal-image + li,
.main > section .horizontal-image + li,
.main > form .horizontal-image + li,
.main > span .horizontal-image + ul,
.main > div .horizontal-image + ul,
.main > h2 .horizontal-image + ul,
.main > ul .horizontal-image + ul,
.main > a .horizontal-image + ul,
.main > section .horizontal-image + ul,
.main > form .horizontal-image + ul {
  margin-top: 0;
}
body {
  padding-top: 64px;
}
.list-item {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0;
  height: auto;
  position: static;
  color: #666666;
  border-bottom: 1px solid #d6d6d6;
  background-position: center right 10px;
  background-size: auto 30%;
  background-repeat: no-repeat;
}
.list-item a {
  color: #3DCD58;
  display: block;
  width: 100%;
}
.list-item a:not(.back-button) {
  padding: .7em;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
  padding-bottom: 64px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.layer.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.layer ul:last-of-type {
  padding-bottom: 64px;
}
.header-container {
  width: 100%;
  -webkit-transition: none;
  transition: none;
  font-size: 1.4em;
}
.header-container .hamburger-button {
  display: block;
}
.header-container .logo-header {
  display: block;
}
.header-container .logo-header img {
  margin: 0 auto;
}
.header-container .search-button {
  display: block;
}
.header-container a {
  outline: none;
}
.header-content > .wrapper {
  padding: 0 10px;
}
.header-content.menu-open .hamburger-button::after {
  display: block;
}
.header-content .back-button {
  background-color: #d6d6d6;
  display: block;
  height: 2.2em;
  padding-left: 2em;
  line-height: 2.2em;
  color: #666;
}
.header-content .back-button:before {
  content: " ";
  left: 1em;
  top: 0.9em;
  position: absolute;
  background-image: url('../img/common-sprite.png');
  background-repeat: no-repeat;
  background-size: 323px 319px;
  width: 7px;
  height: 10px;
  background-position: -277px -268px;
}
@media print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx) {
  .header-content .back-button:before {
    background-image: url('../img/common-sprite@2x.png');
    background-size: 323px 319px;
  }
}
body[dir=rtl] .header-content .back-button:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header-content > ul > li:last-child {
  width: auto;
}
.header-content .main-menu > li:nth-of-type(4) {
  width: 50px;
}
.main-menu {
  display: table;
  width: 100%;
  padding: 0 10px;
}
.main-menu > li:nth-of-type(1) {
  width: 110px;
}
.main-menu > li:nth-of-type(2) {
  width: 0;
}
.main-menu > li:nth-of-type(3) {
  width: auto;
  text-align: right;
  overflow: hidden;
  padding-left: 20px;
}
.main-menu > li:nth-of-type(3) .icon-search-b2 {
  background-image: url('../img/common-sprite.png');
  background-repeat: no-repeat;
  background-size: 323px 319px;
  width: 16px;
  height: 17px;
  background-position: -304px -113px;
  position: absolute;
  right: 5px;
  top: -10px;
  border: none;
  display: inline-block;
}
@media print, screen, (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 2ppx) {
  .main-menu > li:nth-of-type(3) .icon-search-b2 {
    background-image: url('../img/common-sprite@2x.png');
    background-size: 323px 319px;
  }
}
.main-menu > li:nth-of-type(4) {
  display: table-cell;
  width: 50px;
}
.main-menu > li {
  padding: 16px 0;
}
.level1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
  padding-bottom: 64px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  top: 64px;
  z-index: 10;
}
.level1.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.level1 ul:last-of-type {
  padding-bottom: 64px;
}
.level1 > li {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0;
  height: auto;
  position: static;
  color: #666666;
  border-bottom: 1px solid #d6d6d6;
  background-position: center right 10px;
  background-size: auto 30%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.level1 > li a {
  color: #3DCD58;
  display: block;
  width: 100%;
}
.level1 > li a:not(.back-button) {
  padding: .7em;
}
.level1 > li > div > div {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
  padding-bottom: 64px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 11;
}
.level1 > li > div > div.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.level1 > li > div > div ul:last-of-type {
  padding-bottom: 64px;
}
.level1 > li > a {
  font-weight: normal;
}
.level1 > li.mobile-language-selector,
.level1 > li.mobile-country-selector,
.level1 > li.mobile-header-login-link,
.level1 > li#header-login-link {
  position: relative;
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0;
  height: auto;
  position: static;
  color: #666666;
  border-bottom: 1px solid #d6d6d6;
  background-position: center right 10px;
  background-size: auto 30%;
  background-repeat: no-repeat;
}
.level1 > li.mobile-language-selector a,
.level1 > li.mobile-country-selector a,
.level1 > li.mobile-header-login-link a,
.level1 > li#header-login-link a {
  color: #3DCD58;
  display: block;
  width: 100%;
}
.level1 > li.mobile-language-selector a:not(.back-button),
.level1 > li.mobile-country-selector a:not(.back-button),
.level1 > li.mobile-header-login-link a:not(.back-button),
.level1 > li#header-login-link a:not(.back-button) {
  padding: .7em;
}
.level1 > li.mobile-language-selector > ul,
.level1 > li.mobile-country-selector > ul,
.level1 > li.mobile-header-login-link > ul,
.level1 > li#header-login-link > ul {
  display: none;
  border-top: 1px solid #d6d6d6;
}
.level1 > li.mobile-language-selector > ul > li,
.level1 > li.mobile-country-selector > ul > li,
.level1 > li.mobile-header-login-link > ul > li,
.level1 > li#header-login-link > ul > li {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0;
  height: auto;
  position: static;
  color: #666666;
  border-bottom: 1px solid #d6d6d6;
  background-position: center right 10px;
  background-size: auto 30%;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
}
.level1 > li.mobile-language-selector > ul > li a,
.level1 > li.mobile-country-selector > ul > li a,
.level1 > li.mobile-header-login-link > ul > li a,
.level1 > li#header-login-link > ul > li a {
  color: #3DCD58;
  display: block;
  width: 100%;
}
.level1 > li.mobile-language-selector > ul > li a:not(.back-button),
.level1 > li.mobile-country-selector > ul > li a:not(.back-button),
.level1 > li.mobile-header-login-link > ul > li a:not(.back-button),
.level1 > li#header-login-link > ul > li a:not(.back-button) {
  padding: .7em;
}
.level1 > li.mobile-language-selector > ul > li.current a,
.level1 > li.mobile-country-selector > ul > li.current a,
.level1 > li.mobile-header-login-link > ul > li.current a,
.level1 > li#header-login-link > ul > li.current a {
  color: #3DCD58;
  font-weight: normal;
}
.level1 > li.mobile-language-selector > ul > li:last-child,
.level1 > li.mobile-country-selector > ul > li:last-child,
.level1 > li.mobile-header-login-link > ul > li:last-child,
.level1 > li#header-login-link > ul > li:last-child {
  border-bottom: none;
}
.level1 > li.mobile-language-selector > a,
.level1 > li.mobile-country-selector > a,
.level1 > li.mobile-header-login-link > a,
.level1 > li#header-login-link > a,
.level1 > li.mobile-language-selector > ul > li > a,
.level1 > li.mobile-country-selector > ul > li > a,
.level1 > li.mobile-header-login-link > ul > li > a,
.level1 > li#header-login-link > ul > li > a {
  color: #999;
  font-weight: normal;
  text-transform: none;
  padding-right: 2em;
}
.level1 > li.mobile-language-selector:after,
.level1 > li.mobile-country-selector:after,
.level1 > li.mobile-header-login-link:after,
.level1 > li#header-login-link:after {
  display: none;
}
.level1 > li.mobile-language-selector.selected > ul,
.level1 > li.mobile-country-selector.selected > ul,
.level1 > li.mobile-header-login-link.selected > ul,
.level1 > li#header-login-link.selected > ul {
  display: block;
}
.level2 {
  padding-top: 0;
  position: static;
}
.level2 > li {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0;
  height: auto;
  position: static;
  color: #666666;
  border-bottom: 1px solid #d6d6d6;
  background-position: center right 10px;
  background-size: auto 30%;
  background-repeat: no-repeat;
}
.level2 > li a {
  color: #3DCD58;
  display: block;
  width: 100%;
}
.level2 > li a:not(.back-button) {
  padding: .7em;
}
.level2 > li > div {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
  padding-bottom: 64px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 12;
}
.level2 > li > div.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.level2 > li > div ul:last-of-type {
  padding-bottom: 64px;
}
.level2 > li > div div,
.level2 > li > div a,
.level2 > li > div ul,
.level2 > li > div li,
.level2 > li > div span {
  visibility: visible;
}
.level2 > li > div.active {
  padding-bottom: 64px;
}
.level2 > li div > div > a {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0;
  height: auto;
  position: static;
  color: #666666;
  border-bottom: 1px solid #d6d6d6;
  background-position: center right 10px;
  background-size: auto 30%;
  background-repeat: no-repeat;
  padding: .7em;
  color: #3DCD58;
}
.level2 > li div > div > a a {
  color: #3DCD58;
  display: block;
  width: 100%;
}
.level2 > li div > div > a a:not(.back-button) {
  padding: .7em;
}
.level2.additional-links {
  padding-top: 0;
  width: 100%;
}
.level2.additional-links > li {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0;
  height: auto;
  position: static;
  color: #666666;
  border-bottom: 1px solid #d6d6d6;
  background-position: center right 10px;
  background-size: auto 30%;
  background-repeat: no-repeat;
}
.level2.additional-links > li a {
  color: #3DCD58;
  display: block;
  width: 100%;
}
.level2.additional-links > li a:not(.back-button) {
  padding: .7em;
}
.level3 {
  display: block;
  position: static;
  width: 100%;
  left: 0;
  top: 0;
}
.level3 > li {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0;
  height: auto;
  position: static;
  color: #666666;
  border-bottom: 1px solid #d6d6d6;
  background-position: center right 10px;
  background-size: auto 30%;
  background-repeat: no-repeat;
}
.level3 > li a {
  color: #3DCD58;
  display: block;
  width: 100%;
}
.level3 > li a:not(.back-button) {
  padding: .7em;
}
.level3 > li:nth-of-type(odd),
.level3 > li:nth-of-type(even) {
  padding: 0;
}
.level3 > li > a {
  color: #9fa0a4;
  text-decoration: none;
}
.level3 > li.selected > a {
  color: black;
  text-decoration: underline;
}
.search-layer {
  width: auto;
  margin-right: 0;
}
.search-layer .search-results {
  display: none;
}
.search-layer .search-bar {
  width: 100%;
  padding-right: 0;
  position: relative;
}
.search-layer .search-bar .search-field {
  font-size: 16px;
  margin-right: 0;
  width: 100%;
}
.search-layer .search-bar > ul > li:nth-child(1) {
  width: 90%;
}
.search-layer .search-bar > ul > li:nth-child(2) {
  display: none;
}
.search-layer .search-bar > ul > li:nth-child(3) {
  width: 10%;
}
.search-layer .search-bar .submit-search {
  margin: 15px 0;
}
.search-layer .search-bar .reset-search {
  display: none;
}
.header-top {
  height: 0;
  display: none;
}
#header-login-link.logged > a {
  padding: 0.7em;
}
#header-login-link.logged > a .header-user-icon {
  display: none;
}
#header-login-link.logged > a .user-name {
  display: inline;
}
#header-login-link > div > .wrapper > li > div {
  position: static;
  top: 0;
  width: 100%;
}
#header-login-link > div > .wrapper > li > div > .wrapper {
  font-size: 1em;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
  padding-bottom: 64px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#header-login-link > div > .wrapper > li > div > .wrapper .welcome {
  display: none;
}
#header-login-link > div > .wrapper > li > div > .wrapper.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#header-login-link > div > .wrapper > li > div > .wrapper ul:last-of-type {
  padding-bottom: 64px;
}
#header-login-link > div > .wrapper > li > div > .wrapper ul {
  margin: 0;
}
#header-login-link > div > .wrapper > li > div > .wrapper ul > li > a {
  margin: 0;
}
.menu-open {
  overflow: hidden;
}
.menu-open > #page {
  overflow: hidden;
}
.menu-open .header-container {
  position: fixed;
  top: 0;
}
.footer-container {
  background: #eee;
  font-size: 1em;
  line-height: normal;
  padding: 0;
}
.footer-container .wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
}
.footer-container .column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  border: none;
  padding: 30px 15px;
  margin: 0;
}
.footer-container .column:nth-child(2n) {
  margin-left: -0.5em;
}
.footer-container .footer-main {
  display: block;
  margin: 30px 15px;
  width: auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
  margin-bottom: 0px;
}
.footer-container .footer-main:after {
  content: ' ';
  display: table;
  clear: both;
}
.footer-container .footer-main li {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 0 0 10px;
}
.footer-container .footer-main li:last-child {
  display: block;
  width: 100%;
  margin-top: 25px;
  padding-top: 25px;
  text-align: center;
  border-top: 1px solid #999;
}
.footer-container .footer-main li a {
  font-weight: bold;
}
.footer-container .footer-main > li:nth-last-child(2) {
  padding: 0 0 15px;
}
.footer-container .footer-main > li:last-child {
  position: static;
}
.footer-container .footer-links {
  display: block;
  margin: 0 15px;
}
.footer-container .footer-links > li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  border: none;
  padding: 30px 15px;
  margin: 0;
  padding: 20px 0 0 0;
}
.footer-container .footer-links > li:nth-child(2n) {
  margin-left: -0.5em;
}
.footer-container .footer-links > li:last-child {
  width: 100%;
  border-top: 1px solid #999;
}
.footer-container .footer-links > li:last-child > form:nth-of-type(1) {
  padding: 0;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
}
.footer-container .footer-links > li > ul > li:last-child {
  padding-bottom: 20px;
}
.footer-container .footer-links > li > ul > li > a {
  padding: 10px 0;
}
.footer-container .footer-links > li > span {
  padding-bottom: 0;
}
.footer-container .footer-links > li .footer-social {
  display: inline-block;
  width: auto;
}
.footer-container .footer-links > li .footer-social > li {
  padding: 0 1em 15px 1em !important;
}
.footer-container .footer-links > li .footer-social > li:nth-child(4n+1) {
  clear: none;
}
.footer-container .footer-bottom-bar {
  padding: 15px;
}
.footer-container .footer-bottom-bar .language-selector {
  border: none;
  padding: .5em 0;
}
.footer-container .footer-bottom-bar .footer-about {
  display: block;
  line-height: 2em;
  margin: 0;
  border: none;
  padding: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.footer-container .footer-bottom-bar .footer-about > li {
  display: block;
  padding: 0;
}
.footer-container .footer-bottom-bar .footer-about > li:nth-child(n+3) {
  padding-left: 5px;
}
.footer-container .footer-bottom-bar .footer-about > li:nth-child(-n+3) {
  padding-bottom: 10px;
}
.footer-container .footer-bottom-bar .footer-social {
  text-align: center;
  float: none;
  width: 100%;
  margin: 25px 0;
}
.footer-container .footer-bottom-bar .footer-social li {
  padding: 0;
}
.footer-container .footer-bottom-bar .footer-social span {
  width: 40px;
  height: 40px;
  margin: 0;
}
.footer-container .footer-bottom-bar .footer-locale li {
  padding-left: 0;
}
.footer-container .footer-social-bar ul {
  text-align: center;
  float: none;
  width: 100%;
  margin: 25px 0;
  display: block;
  margin: 0;
}
.footer-container .footer-social-bar ul li {
  padding: 0;
}
.footer-container .footer-social-bar ul span {
  width: 40px;
  height: 40px;
  margin: 0;
}
.footer-container .footer-social-bar ul > li {
  display: inline-block;
  margin: 10px;
}
.footer-container.deployed-social .footer-bottom-bar {
  padding-bottom: 0;
}
.footer-container.deployed-social .footer-social {
  margin-bottom: 0;
}
.footer-container.deployed-language .footer-language-bar {
  display: none;
}
.footer-container.deployed-language .footer-locale .language-selector::after {
  display: none;
}
