* {
  margin: auto;
  padding: 0;
  font-weight: normal;
}
html {
  font-size: 100%;
}
body {
  background-color: #fafafa;
  font-size: 0.8125em;
  line-height: 1.5em;
  font-family: "Arial Rounded", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
  color: #626469;
  font-weight: 100;
}
a {
  color: #42b4e6;
}
.userbar {
  height: 30px;
  background: #fff;
  text-align: right;
}
.content-wrp {
  max-width: 960px;
  margin: 0 auto;
}
.userbar-actionitem {
  font-size: 0.8em;
  color: #626469;
}
.navigation {
  background: #3dcd58;
  height: 55px;
  border-bottom: 4px solid #009530;
  vertical-align: middle;
}
.content-wrp._navigation {
  height: 100%;
}
.navigation-leftside,
.navigation-rightside {
  display: inline-block;
  height: 100%;
}
.navigation-leftside:before,
.navigation-rightside:before {
  content: "";
  position: relative;
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.navigation-rightside {
  text-align: right;
}
.navigation-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.navigation-logo {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}
.navigation-logo img {
  max-width: 100%;
  max-height: 100%;
}
.navigation-items {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 13px;
  height: 100%;
}
.navigation-item {
  display: table-cell;
  vertical-align: middle;
  height: 55px;
  padding: 0 13px;
}
.navigation-item-ln {
  color: #fff;
}
.navigation-search {
  display: inline-block;
  vertical-align: middle;
}
.navigation-search-inp {
  height: 24px;
  padding: 0.4em 0.5em;
  border: 1px solid #9fa0a4;
  background: #fff;
  box-sizing: border-box;
}
.navigation-search-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  vertical-align: middle;
  margin-left: 10px;
  background: #fff;
}
.content-wrp._slider {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
}
.slider {
  margin-bottom: 40px;
}
.slider-slides {
  font-size: 0;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}
.slider-slide {
  display: inline-block;
  position: relative;
  padding-bottom: 23.437408%;
  width: 100%;
}
.slider-slide-pic {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.slider-slide-c {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  max-width: 50%;
  padding: 30px;
  font-size: 14.4px;
  line-height: 1.4em;
  color: #fff;
  white-space: normal;
}
.slider-slide-c-t {
  font-size: 33.6px;
  line-height: 39.96px;
  margin-bottom: 10px;
}
.slider-slide-c-tx {
  font-size: 14.4px;
  line-height: 20.16px;
  font-weight: 100;
  margin-bottom: 20px;
}
.btn {
  background: #42b4e6;
  color: #fff;
  padding: 0.8em 1.5em;
  display: inline-block;
}
.content-wrp._content {
  font-size: 0;
  margin-bottom: 20px;
}
.content {
  font-size: 13px;
  width: 80%;
  box-sizing: border-box;
  padding-right: 35px;
  display: inline-block;
  vertical-align: top;
}
.sidebar {
  font-size: 13px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.sidebar-card {
  padding: 10px 10px;
  background: #fff;
  margin-bottom: 20px;
}
.sidebar-card-t {
  color: #3dcd58;
  font-size: 19.5px;
  line-height: 1.2em;
}
.sidebar-card-tx {
  font-size: 1em;
  line-height: 1.5em;
}
.sidebar-card img {
  margin-bottom: 5px;
}
.articles {
  display: flex;
  align-items: flex-start;
}
.articles-i {
  font-size: 13px;
  flex: 1 0 33.3333%;
  height: auto;
}
.articles-i:first-child {
  padding-left: 0;
}
.articles-t {
  color: #3dcd58;
  font-size: 1.5em;
  line-height: 1.2em;
}
.sections-separator {
  height: 2px;
  background: #eaeaea;
  margin-top: 30px;
  margin-bottom: 30px;
}
.gallery {
  display: flex;
  flex-direction: column;
}
.gallery-row {
  display: flex;
  flex-direction: row;
}
.gallery-i {
  flex: 1 0 0;
  position: relative;
}
.gallery-i._2x {
  flex: 2 0 0;
}
.gallery-i-img {
  display: block;
}
.gallery-i-tx {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15.904px;
  color: #fff;
  background-image: -webkit-linear-gradient(top, transparent 0%, #000 100%);
}
.gallery-i:hover .gallery-i-tx {
  background: rgba(61,205,88,0.9);
}
.productsSlider-wrp {
  white-space: nowrap;
  overflow: hidden;
}
.prodictsSlider-i {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 20%;
  text-align: center;
}
.prodictsSlider-i-ln {
  color: #3dcd58;
  font-size: 12.611px;
}
.footer {
  background: #e7e6e6;
  padding-top: 50px;
}
.footer-links {
  text-align: right;
}
.footer-links-wrp {
  text-align: left;
  display: inline-block;
  width: 82%;
  padding-top: 25px;
  margin-bottom: 20px;
  border-top: 1px solid #d2d2d2;
}
.footer-links-l {
  float: left;
  width: 25%;
  list-style: none;
  padding-right: 10px;
  box-sizing: border-box;
}
.footer-links-ln {
  color: #626469;
  padding: 3.6px 0;
  display: inline-block;
  font-size: 12px;
}
.footer-links-ln:hover {
  color: #42b4e6;
}
.footer-social-l {
  list-style: none;
  text-align: right;
}
.footer-social-i {
  width: 33px;
  height: 33px;
  background: #fff;
  display: inline-block;
  margin-left: 10px;
}
.footer-social-i:first-child {
  margin-left: 0;
}
.footer-email {
  margin-bottom: 60px;
}
.footer-logo {
  width: 13.5%;
  display: inline-block;
  vertical-align: middle;
}
.footer-logo img {
  max-width: 100%;
}
.email-signup {
  margin-left: 4.5%;
  width: 82%;
  display: inline-block;
  vertical-align: middle;
}
.email-signup-tx {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.email-signup-form {
  width: 52%;
  margin-left: 8%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.email-signup-inp {
  width: 70%;
  height: 30px;
  padding: 0 15px;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  font-size: 14px;
}
.email-signup-btn {
  width: 26%;
  margin-left: 2%;
  padding: 0;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
}
.footer-end {
  height: 41px;
  background: #3dcd58;
  margin-top: 15px;
}
.footer-end-ln {
  display: inline-block;
  color: #fff;
  font-size: 11.7px;
}
